################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Zadanie1/.vs/Zadanie1/v16
