################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Zadanie1/.vs/Zadanie1/v16
/.vs/GKiKCK/v16/Browse.VC.db
/Zadanie2/.vs/Zadanie2/v16/Browse.VC.db
/Zadanie2/.vs/Zadanie2/v16/Browse.VC.opendb
/Zadanie3/.vs/Zadanie3/v16/Browse.VC.opendb
/Zadanie3_weierstrass/.vs/Zadanie3_weierstrass/v16/Browse.VC.opendb
/Zadanie4/.vs/Zadanie4/v16/Browse.VC.opendb
/Zadanie5/.vs/Zadanie5/v16/Browse.VC.opendb
